@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300..700");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700");
:root {
    --ff-title: "Teko", sans-serif;
    --ff-paragraph: "Roboto", sans-serif;

    /* Neutral colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-light: hsl(0, 0%, 87%);
    --clr-grey: hsl(204, 8%, 76%);
    --clr-grey-dark: hsl(0, 0%, 55%);
    --clr-black: hsl(0, 0%, 6%);

    /* Primary colors (Header, Hero etc.)*/
    --clr-primary: hsl(48, 97%, 48%);
    --clr-primary-text: var(--clr-black);

    /* Secondary colors (CTA,Buttons etc.)*/
    --clr-secondary: hsl(44, 52%, 58%);
    --clr-secondary-text: var(--clr-white);

    /* Font Sizes (Responsive) */
    --fs-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --fs-1: clamp(1.125rem, 1.0607rem + 0.3214vw, 1.35rem);
    --fs-2: clamp(1.2656rem, 1.1644rem + 0.5063vw, 1.62rem);
    --fs-3: clamp(1.4238rem, 1.2752rem + 0.7431vw, 1.944rem);
    --fs-4: clamp(1.6018rem, 1.393rem + 1.0443vw, 2.3328rem);
    --fs-5: clamp(1.802rem, 1.5171rem + 1.4248vw, 2.7994rem);
    --fs-6: clamp(2.0273rem, 1.6467rem + 1.9028vw, 3.3592rem);
    --fs-7: clamp(2.2807rem, 1.7806rem + 2.5005vw, 4.0311rem);

    /* Spacing (Responsive) */
    --space-xxs: clamp(0.6331rem, 0.712rem + -0.0876vw, 0.6944rem);
    --space-xs: clamp(0.8333rem, 0.8303rem + 0.0152vw, 0.844rem);
    --space-s: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --space-m: clamp(1.5rem, 1.4464rem + 0.2679vw, 1.6875rem);
    --space-l: clamp(2rem, 1.9286rem + 0.3571vw, 2.25rem);
    --space-xl: clamp(3rem, 2.8929rem + 0.5357vw, 3.375rem);
    --space-2xl: clamp(4rem, 3.8571rem + 0.7143vw, 4.5rem);
    --space-3xl: clamp(6rem, 5.7857rem + 1.0714vw, 6.75rem);
}


/* === Base Styles === */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Ensures smooth scrolling */
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-title);
}

h1 {
    font-size: var(--fs-7);
}

h2 {
    font-size: var(--fs-5);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-paragraph);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--clr-primary-text);
    min-height: 100vh;
    background-color: var(--clr-black);
}

main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
    padding-top: var(--space-2xl);
}

.img-fluid {
    width: 100%;
    height: auto;
}

.p-0 {
    padding: 0 !important;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: calc(var(--vh, 1vh) * 100);
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.parallex-container {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* === Hero Styles === */
.hero {
    color: var(--clr-secondary-text);
    background-image: url("../images/hero1.jpg"),
        url("../images/hero2.jpg"),
        url("../images/hero3.jpg");
    background-repeat: no-repeat;
    background-size: 33.33% 100%;
    background-position: left center,
        50% center,
        100% center;
    position: relative;
}

.hero::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.7);
    z-index: 0;
}

.hero__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: var(--space-2xl);
    gap: 1rem;
    position: relative;
}

.hero__title {
    font-size: calc(var(--fs-7) + 5vw);
    text-align: center;
    line-height: 1.2;
    font-family: var(--ff-title);
    background-image: url("../images/hero-text-clip.webp");
    background-size: cover;
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.hero__description {
    font-size: var(--fs-7);
    letter-spacing: var(--space-s);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.4;
    color: var(--clr-secondary);
}

.hero__action-description {
    margin-top: var(--space-l);
    display: flex;
    font-size: var(--fs-3);
    font-family: var(--ff-title);
    letter-spacing: 2px;
    justify-content: center;
    color: var(--clr-secondary);
}

.hero__action-button {
    cursor: pointer;
    animation: bounce 1.2s infinite;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
}

.hero__action-button-span {
    z-index: 999;
    height: 3px;
    margin: 1px;
    width: 30px;
    background: var(--clr-secondary);
    transition: 0.4s ease;
}

.hero__action-button-span--1 {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.hero__action-button-span--2 {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.hero__action-button-span--3 {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.hero__action-button-span--4 {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

/* Bounce Animation for Hero Action Button */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

/* ==== Gallery ==== */

.gallery-view {
    display: flex;
    flex-direction: column;
}

.gallery-container {
    flex: 1;
}

.gallery-title {
    text-align: center;
    color: var(--clr-white);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 16px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.gallery__lobby-card-img {
    --_hAndW: 230px;
    width: var(--_hAndW);
    height: var(--_hAndW);
    transition: 0.3s ease-in-out;
    border-radius: 12px;
    overflow: hidden;
    margin: 10px 10px;
    cursor: pointer;
}

.gallery__lobby-card-img:hover {
    transform: scale(1.1);
}

.gallery__lobby-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

.gallery__lobby-card-title {
    color: var(--clr-grey-light);
    height: 40px;
    font-size: var(--fs-2);
    text-align: center;
}

/* ==== Timeline ==== */
.timeline-container {
    padding-top: 2rem;
    width: 100%;
}

.timeline {
    --_long-bar-width: 2px;
    --_long-bar-height: 40px;
    --_short-bar-height: 20px;
    --_short-bar-width: calc(var(--_long-bar-width) / 2);
    --_bar-margin: 12px;
    --_bar-color: #EFBF04;

    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.timeline__long-bar {
    width: var(--_long-bar-width);
    min-width: var(--_long-bar-width);
    height: var(--_long-bar-height);
    margin-right: var(--_bar-margin);
    background-color: var(--_bar-color);
    position: relative;
    display: flex;
    align-items: flex-end;
}

.timeline__short-bar {
    width: var(--_short-bar-width);
    min-width: var(--_short-bar-width);
    height: var(--_short-bar-height);
    margin-right: var(--_bar-margin);
    background-color: var(--_bar-color);
}

.timeline__year-label {
    color: var(--_bar-color);
    bottom: calc(var(--_long-bar-height) + 5px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;
    transition: color 0.2s, font-weight 0.2s;
    cursor: pointer;
}

.timeline__year-label.active {
    color: var(--clr-white);
    font-weight: bold;
}

/* ==== Timeline Burger Menu ==== */
.timeline-burger-menu {
    position: sticky;
    top: 0;
    z-index: 3000;
    display: none;
    width: 35px;
}

.timeline-menu {
    margin-top: var(--space-s);
    position: absolute;
    width: 200px;
    display: none;
    background-color: var(--clr-black);
    color: #EFBF04;
    border: 1.5px solid var(--clr-grey-light);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.timeline-menu--active {
    display: block;
}

.timeline-button {
    cursor: pointer;
}

.timeline-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline-menu__item {
    padding: 10px;
    text-align: center;
    font-size: var(--fs-1);
}

.timeline-menu__item:hover {
    font-weight: bold;
}

.timeline-menu__item .active {
    font-weight: bold;
    color: var(--clr-white);
}

.timeline-menu__link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--clr-secondary);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* ==== Modal ==== */
.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal__content {
    position: relative;
    background-color: var(--clr-black);
    color: var(--clr-white);
    margin: auto;
    border: 1.5px solid var(--clr-grey-light);
    border-radius: 12px;
    width: 80%;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal__details {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
}

.modal__title {
    border-bottom: 1px solid var(--clr-white);
    margin-bottom: var(--space-s);
}

.modal__body {
    padding: var(--space-s);
}

.modal__image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Background image (blurred & covers) */
.modal__image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    z-index: 1;
}

/* Foreground image (top center) */
.modal__image-fg {
    position: relative;
    z-index: 2;
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
}

/* Modal object content link */
.modal__source-link {
    text-decoration: underline;
}

.modal__source-link:hover {
    color: var(--clr-grey-light);
}

.modal__source-link:after {
    content: "↗";
}

.modal__close {
    color: var(--clr-white);
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.2s;
}

.modal__close:hover,
.modal__close:focus {
    color: var(--clr-grey);
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}



/* ==== Animations for images back and forth ==== */
.animate {
    --translate-length: 50px;
    opacity: 0;
    visibility: hidden;
    animation-duration: var(--duration, 0.5s);
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

/* fadeInLeft animation - Fades in and moves the element from the left */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(calc(-1 * var(--translate-length)), 0, 0);
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}


/* fadeInRight animation - Fades in and moves the element from the right */
@keyframes fadeInRight {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(calc(var(--translate-length)), 0, 0);
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

/* ==== Loader Styles ==== */
/* Loader styles idea was taken from and modified:
https://www.w3schools.com/howto/howto_css_loader.asp
*/
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid var(--clr-white);
    border-radius: 50%;
    border-top: 16px solid var(--clr-primary);
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ==== Footer Styles ==== */
.footer {
    color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    min-height: 45px;
    margin-top: var(--space-xs);
    text-align: center;
    background-color: var(--clr-grey-dark);
}

/*Mobile Styles*/
@media (max-width: 768px) {
    .hero {
        background-image: url("../images/hero1.jpg"),
            url("../images/hero2.jpg");
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: left center,
            100% center;
    }

    .timeline-container {
        display: none;
    }

    .timeline-burger-menu {
        display: block;
    }
}

/* very specific styles for smaller screens */
@media (max-width: 904px) {
    .timeline__short-bar-hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .hero {
        background-image: url("../images/hero1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }

    .timeline-container {
        display: none;
    }
}

/* ==== Flexbox Grid System ==== */
/*These CSS variables are defined globally in the :root selector.
 They provide reusable values for consistent layout and styling across the entire project.*/
:root {
  --container-width: 90%;
  --container-max-width: 1100px;
  --_x-pad: 0.75rem;
}

/* 
  Naming Convention:
  --------------------
  This CSS follows a BEM (Block-Element-Modifier) naming convention for clarity, scalability, and maintainability.

  - Block: `.flex-container` represents the main layout container (the block).
  - Element: `.flex__row` and `.flex__col` are elements within the block, defining the structure of rows and columns.
  - Modifier: Classes like `.flex__col--1`, `.flex__col--2`, etc., define variations of the columns, such as their width within a 12-column grid system.

  This approach ensures a modular, consistent, and flexible layout, making it easier to scale and maintain.
*/

/* === Container === 
The container is used for the overall layout and centers the content.*/
.flex-container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

/* Defines a flex container that wraps its children elements. */
.flex__row {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for column padding */
  margin: 0 calc(-1 * var(--_x-pad));
}

/* === Flex Column ===
  Rather than applying this style to each individual flex__col class, 
  I use an attribute selector to target all classes that start with 'flex__col' 
  and apply the padding in one go.
*/
[class^="flex__col"] {
  padding: 0 var(--_x-pad);
}


.flex__col,
.flex__col--12 {
  width: 100%;
}


/* === Column Width Modifiers ===
   These classes define different column widths based on the 12-column grid system.
   The width is calculated as a fraction of 100% based on the desired number of columns.
*/

.flex__col--1  { width: calc(100% / 12); }     /* 1/12 width */
.flex__col--2  { width: calc(100% / 12 * 2); } /* 2/12 width */
.flex__col--3  { width: calc(100% / 12 * 3); } /* 3/12 width */
.flex__col--4  { width: calc(100% / 12 * 4); } /* 4/12 width */
.flex__col--5  { width: calc(100% / 12 * 5); } /* 5/12 width */
.flex__col--6  { width: calc(100% / 12 * 6); } /* 6/12 width */
.flex__col--7  { width: calc(100% / 12 * 7); } /* 7/12 width */
.flex__col--8  { width: calc(100% / 12 * 8); } /* 8/12 width */
.flex__col--9  { width: calc(100% / 12 * 9); } /* 9/12 width */
.flex__col--10 { width: calc(100% / 12 * 10); } /* 10/12 width */
.flex__col--11 { width: calc(100% / 12 * 11); } /* 11/12 width */

@media (min-width: 576px) {
  .flex__col-sm--1  { width: calc(100% / 12 * 1); }
  .flex__col-sm--2  { width: calc(100% / 12 * 2); }
  .flex__col-sm--3  { width: calc(100% / 12 * 3); }
  .flex__col-sm--4  { width: calc(100% / 12 * 4); }
  .flex__col-sm--5  { width: calc(100% / 12 * 5); }
  .flex__col-sm--6  { width: calc(100% / 12 * 6); }
  .flex__col-sm--7  { width: calc(100% / 12 * 7); }
  .flex__col-sm--8  { width: calc(100% / 12 * 8); }
  .flex__col-sm--9  { width: calc(100% / 12 * 9); }
  .flex__col-sm--10 { width: calc(100% / 12 * 10); }
  .flex__col-sm--11 { width: calc(100% / 12 * 11); }
  .flex__col-sm--12 { width: 100%; }
}

@media (min-width: 768px) {
  .flex__col-md--1  { width: calc(100% / 12 * 1); }
  .flex__col-md--2  { width: calc(100% / 12 * 2); }
  .flex__col-md--3  { width: calc(100% / 12 * 3); }
  .flex__col-md--4  { width: calc(100% / 12 * 4); }
  .flex__col-md--5  { width: calc(100% / 12 * 5); }
  .flex__col-md--6  { width: calc(100% / 12 * 6); }
  .flex__col-md--7  { width: calc(100% / 12 * 7); }
  .flex__col-md--8  { width: calc(100% / 12 * 8); }
  .flex__col-md--9  { width: calc(100% / 12 * 9); }
  .flex__col-md--10 { width: calc(100% / 12 * 10); }
  .flex__col-md--11 { width: calc(100% / 12 * 11); }
  .flex__col-md--12 { width: 100%; }
}